<!doctype html>
<head>
    <title>NLP - Tweets</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
   <body class="bg-dark text-light">
    <div class="row">
      <div class="col-6 mx-auto mt-5 text-center">
        <h1>NLP - Sentimental Tweet Analysis</h1>
        <form method="post" action="{{url_for('hello')}}" class="p-3 text-center">
            <div class="col-md-6 mx-auto text-center">
                <label for="name" class="form-label fw-bold fs-5">Could you please write your tweet?</label>

                <!-- <p class="lead mb-2">Could you please tell me your name?</p> -->
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="name" name="name" style="max-width: 256px;">
                  </div>            
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                  <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Predict</button>
                </div>            
            </div>
        </form>
      </div>
      {% if name %}
      <div class="row mx-auto mt-5 text-center">
        <p>{{name}} {{prob}}</p> 
      </div>
      {% endif %}
    </div>
     </main>      
   </body>
</html>